/* stylesheet */
#error .card-header button {
  float: right;
}

#error .card-header button i {
  margin-right: 10px;
}

#error .card-body {
  text-align: center;
}

#error .card-body h5.titolo {
  color: #dc3545;
  margin-bottom: 15px;
}

#error .card-body img {
  width: 300px;
  height: 300px;
}