/* stylesheet */
div.jumbotron {
  margin-bottom: 30px;
}

div.card-deck {
  margin-bottom: 30px;
}

ol.breadcrumb {
  font-size: .8rem;
  border-radius: 0;
  margin-bottom: 30px;
}

ol.breadcrumb a {
  color: #212529;
}

ol.breadcrumb a:hover {
  color: #007bff;
  text-decoration: none;
}

.card {
  margin-bottom: 30px;
}

.card-header a {
  float: right;
}

.card-header a i {
  margin-right: 10px;
}

h4.titolo {
  display: inline-block;
  margin-bottom: 0;
}

h5.titolo {
  margin-bottom: 15px;
}

#regioni .card-body > .d-flex > .w-100 span {
  font-weight: bold;
  color: #007bff;
}

#regioni .input-group > .form-control {
  width: 250px;
}

.card-body table {
  margin-bottom: 0;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, .03);
}

#regioni .card-body table tbody td:last-of-type,
#regioni .card-body table tbody td:first-of-type {
  width: 1%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}

#regioni .card-body table tbody td:last-of-type a:nth-child(2) {
  margin: 0 10px;
}