/* stylesheet */

.card {
  margin-bottom: 30px;
}

.card-header a {
  float: right;
}

.card-header a i {
  margin-right: 10px;
}

h4.titolo {
  display: inline-block;
  margin-bottom: 0;
}

h5.titolo {
  margin-bottom: 15px;
}

.card-body table {
  margin-bottom: 0;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, .03);
}

/* regioni */
#regioni .card-body > .d-flex span {
  font-weight: bold;
  color: #007bff;
}

#regioni .card-body .form-control {
  width: 250px;
}

#regioni .card-body table thead th:first-of-type {
  text-align: center;
}

#regioni .card-body table tbody td:first-of-type,
#regioni .card-body table tbody td:last-of-type {
  width: 1%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}

#regioni .card-body table tbody td:last-of-type {
  font-size: 0;
}

#regioni .card-body table tbody td:last-of-type a:nth-child(2) {
  margin: 0 10px;
}

/* regione */
#regione .card-header a:last-of-type {
  margin-right: 15px;
}

#regione h5.titolo {
  margin-bottom: 0;
}

#regione .flex-shrink-0 a i {
  margin-right: 10px;
}

#regione .card-body table tbody td:first-of-type,
#regione .card-body table tbody td:last-of-type {
  width: 1%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
}

#regione .card-body table tbody td:last-of-type {
  font-size: 0;
}

#regione .card-body table tbody td:last-of-type a:last-of-type {
  margin: 0 0 0 10px;
}

/* modificaRegione */
#modificaRegione form .form-control {
  margin-bottom: .5rem;
}

/* aggiungiRegione */
#aggiungiRegione form .form-control {
  margin-bottom: .5rem;
}